
  
      <div class="container-fluid h-100 " >
          <nav >
                <div class="navbar-header container-fluid h-100">
                    <app-user-card></app-user-card>
                </div>
              <ul class="flex-column">
                  <li>
                      <a routerLink="/user" class="nav-link"><i class="fa fa-user" aria-hidden="true" ></i> Usuario </a>
                  </li>
                 <li>
                     <a routerLink="/tickets" class="nav-link"><i class="fa fa-ticket" aria-hidden="true" ></i> Tickets</a>
                 </li>
                <li>  
                    <a routerLink="/guides" class="nav-link"><i class="fa fa-map" aria-hidden="true" ></i> Guias</a>
                </li>
              </ul>
          </nav>
      </div>
  
