.container-fluid{
    background-color: #050631;
    width: 100%;
    padding: 0;
    
}


.nav-link{
    padding-left: 3.5%;
    width: 100%;
}

a{
    color: #fff;
    width: 100%;
    text-align: center;
    
}
ul{
    
    list-style-type: none;
    width: 100%;
    padding: 0; 
    
}
li{
  display: list-item;
  margin-top: 1.85rem;
  margin-bottom: 10;
  margin-left: 0;
  padding: 10;
  width: 100%;  
}



li:hover{
    background-color: #1a1a1a;
    color: #53a7ea;
}

a:hover{
    background-color: #1a1a1a;
    color: #53a7ea;
}
@media only screen and (max-width: 700px) {

    nav a {
      text-align: center;
      float: none;
    }
}
