<div class="container-fluid h-100">
  <div class="row">
      <div>
          <nav class="nav navbar-light navbar-toggleable-sm navbar-default">
                <div class="navbar-header">
                    <app-user-card></app-user-card>
                </div>
              <div class="flex-column mt-md-0 mt-4 pt-md-0 pt-4">
                  <a routerLink="/user" class="nav-link">Usuario <i class="fa fa-user" aria-hidden="true" ></i></a>
                  <a routerLink="/tickets" class="nav-link">Tickets <i class="fa fa-ticket" aria-hidden="true" ></i></a>
                  <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Guias <i class="fa fa-map" aria-hidden="true" ></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a routerLink="/guides-create" class="nav-link submenu-link">Crear <i class="fa fa-pencil" aria-hidden="true" ></i></a>
                            <a routerLink="/guides-read" class="nav-link submenu-link">Consultar <i class="fa fa-book" aria-hidden="true" ></i></a>
                        </div>
                      </div>
              </div>
          </nav>
      </div>
  </div>
</div>