<div class="container-fluid h-100">
  <div class="row">
      <div>
          <nav class="nav navbar-light navbar-toggleable-sm navbar-default">
              <div class="flex-column mt-md-0 mt-4 pt-md-0 pt-4">
                  <app-user-card></app-user-card>
                  <a routerLink="/user" class="nav-link">Informacion</a>
                  <a routerLink="/tickets" class="nav-link">Tickets</a>
                  <a routerLink="/guides" class="nav-link">Guias</a>
              </div>
          </nav>
      </div>
  </div>
</div>