<div class="card scrollable">
  <div class="card-header tickets-title">
      <div class="row">
          <div class="title col-6 text-left">
              Tickets <i class="fa fa-ticket" aria-hidden="true"></i>
          </div>
          <div class="col-6 text-right search-col">
            <input class="search"  [(ngModel)]="searchText" type="text" placeholder="Buscar"><i class="fa fa-search" aria-hidden="true" ></i>
          </div>
        </div>
  </div>
  <div class="card-body card-list-body">
      <table class="table table-sm table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col" class ="table-col-clickable" (click)="sortByFecha()">Fecha <i class="fa fa-{{fechaArrow}}"></i></th>
              <th scope="col" class ="table-col-clickable" (click)="sortByFolio()">Folio <i class="fa fa-{{folioArrow}}" aria-hidden="true"></i></th>
              <th scope="col">Tarjeta</th>
              <th scope="col">Tipo de problema</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let ticket of tickets | searchListTickets: {fecha: searchText, folio:searchText,  tarjeta: searchText, tipo_problema: searchText};">
                <th scope="row">{{ticket.fecha}}</th>
                <th>{{ticket.folio}}</th>
                <td>{{ticket.tarjeta}}</td>
                <td>{{ticket.tipo_problema}}</td>
              </tr>
          </tbody>
        </table>
        <div class="text-center">
          <button (click)="previousPage()"><i class="fa fa-arrow-left"></i></button><button class="{{clickedFive}}" (click)="paginateFive()">5</button><button class="{{clickedTen}}" (click)="paginateTen()">10</button><button class="{{clickedTwenty}}" (click)="paginateTwenty()">20</button><button (click)="nextPage()"><i class="fa fa-arrow-right"></i></button>
        </div>
  </div>
</div>
