<div class="card">
  <div class="card-header tickets-title">
      <div class="row">
          <div class="title col-6 text-left">
              Tickets <i class="fa fa-ticket" aria-hidden="true"></i>
          </div>
          <div class="col-6 text-right search-col">
            <input class="search" type="text" placeholder="Buscar"><i class="fa fa-search" aria-hidden="true" ></i>
          </div>
        </div>
  </div>
  <div class="card-body card-list-body">
      <table class="table table-sm table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Folio</th>
              <th scope="col">Tarjeta</th>
              <th scope="col">Tipo de problema</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">10-03-2018</th>
              <th>102930480</th>
              <td>1111-1111-1111-1111</td>
              <td>Transferencia erronea</td>
            </tr>
            <tr>
              <th scope="row">18-01-2018</th>
              <th>102930444</th>
              <td>1111-1111-1111-1111</td>
              <td>Incumplimiento de pago</td>
            </tr>
            <tr>
                <th scope="row">16-05-2018</th>
                <th>102330444</th>
                <td>1111-1111-1111-1111</td>
                <td>Fecha de pago invalida</td>
            </tr>
            <tr>
                <th scope="row">16-05-2018</th>
                <th>102330444</th>
                <td>1111-1111-1111-1111</td>
                <td>Fecha de pago invalida</td>
            </tr>            <tr>
                <th scope="row">16-05-2018</th>
                <th>102330444</th>
                <td>1111-1111-1111-1111</td>
                <td>Fecha de pago invalida</td>
            </tr>
          </tbody>
        </table>
  </div>
</div>