<div class="container-fluid">
    <div class="row  h-100">
    <div class="user-chat col-md-4">
        <app-user-chat></app-user-chat>
    </div>
    <div class="user-detail col-md-3">
        <app-user-detail></app-user-detail>
    </div>
    <div class="user-card col-md-3 scrollable">
        <app-user-card-info></app-user-card-info>
        <app-user-account></app-user-account>
    </div>
    <div class="col-md-2">
        <div class="card">
            <div class="card-body">
                <form>
                </form>  
            </div>
            </div>
    </div>
    </div>
</div>