<div class="container-fluid scrollable">
    <div class="row  h-100">
    <div class="user-chat col-md-4">
        <app-user-chat></app-user-chat>
    </div>
    <div class="user-detail col-md-3">
        <app-user-detail></app-user-detail>
    </div>
    <div class="user-card col-md-3">
        <app-user-card-info></app-user-card-info>
        <app-user-account></app-user-account>
    </div>
    <div class="user-purchases col-md-2">
        <app-user-purchases></app-user-purchases>
    </div>
    </div>
</div>