.scrollable {
    max-height: 100%;
    overflow-y: auto;
}

.user-chat{
    padding-right: 0%;
    padding-left: 2px;
    border: 0%;
}

.user-detail{
    padding-right: 0%;
    padding-left: 2px;
    border: 0%;
}

.user-card{
    padding-right: 0%;
    padding-left: 2px;
    border: 0%;
}