.scrollable {
    max-height: 100%;
    overflow-y: auto;
}

.card{
	max-height: 29%;
}

.title{
    font-size: 175%;
    font-weight: bold;
}

label{
    font-size: 118%;
    font-weight: bold;
}

@media only screen and (max-width: 700px) {

    .card{
        margin-top: 2%;
		max-height: 100%;
	}
}