.navbar{
    background-color: #050631 !important;
    width: 100%;
}

.nav-link{
    margin-top: 20%;
}

.submenu-link{
    margin-top: 3%;
}


a{
    color: #fff;
    display: block;
    width: 100%;
}

.dropdown-menu{
    background-color: #050631;
    border-style: solid;
    border-width: 1px;
    border-color: #5E64FF;
}

#dropdownMenuButton{
    background-color: #050631;
    padding: 0%;
    border-style: none;
}