img{
    align-self: center;
    border-radius: 50%;
    height: 10vw;
    width: 10vw;
    max-height: 50%;
    max-width: 60%;
    margin-top: 20%;
}

h5{
    font-size: larger;
    padding-top: 15%;
}

.card{
    border-radius: 0px !important;
    background-color: #050631;
    color: #fff;
    border: 0;
}