img{
    align-self: center;
    border-radius: 50%;
    max-width: 60%;
    margin-top: 20%;
}

h5{
    font-size: larger;
    padding-top: 15%;
}

.card{
    border-radius: 0px !important;
    background-color: #050631;
    color: #fff;
    border: 0;
}

@media only screen and (max-width: 700px) {
    img{
        display: none;
    }
    h5{
        font-size: xx-large;
    }
    
}